body {
    background-image: url(/img/coverCanasto.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position-y: -500px !important;
    background-position-x: -300px !important;
    background-attachment: fixed !important;
}

@media only screen and (min-width: 960px) {
    body {
        background-image: url(/img/coverCanasto2.png) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position-y: 0px !important;
        background-position-x: 0px !important;
        background-attachment: fixed !important;
    }
}

.box-product {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.box-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-description{
    text-align: center;
    margin: 20px;
}

.box-product > * {
    margin-right: 6px;
}

.box-product .img-product {
    width: 100px;
    height: auto;
    border-radius: 20px;
}

@media only screen and (min-width: 481px) {
    .box-product .img-product {
        width: 200px;
        height: auto;
        border-radius: 20px;
    }
}

@media only screen and (min-width: 960px) {
    .box-product .img-product {
        width: 220px;
        height: auto;
        border-radius: 20px;
    }
}

.cancel-product {
    width: 30px;
    height: auto;
    border-radius: 20px;
}

@media only screen and (min-width: 481px) {
    .cancel-product  {
        width: 50px;
        height: auto;
        border-radius: 20px;
    }
}

@media only screen and (min-width: 960px) {
    .cancel-product  {
        width: 70px;
        height: auto;
        border-radius: 20px;
    }
}


.product-title {
    font-weight: 900;
}

.products {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-box {
    width: calc(100% - 15px);
    border: 1px solid #9e7545;
    border-radius: 6px;
    padding: 6px;
    background: #9e7545;
}

.products-align {
    align-items: center;
    justify-content: center;
}

.products-space {
    padding: 10px;
}

.product-price {
    padding: 0;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.product-button {
    text-align: center;
    width: 30px;
    height: auto;
    margin-left: 40px;
    margin-top: 5px;
}
