.box-thumbnail {
    display: flex;
    justify-content: left;
    overflow-x: auto;
}

.box-thumbnail img {
    width: 80px;
    margin-left: 6px;
}

.box-description {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.img-product {
    width: 60%;
    border-radius: 25px;
}

.qualification {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-profile {
    width: 50px;
}

.img-profile-comment {
    width: 20%;
    height: auto;
    border-radius: 50%;
}

.text-description{
    padding: 10px;
}

.profle-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-profile {
    display: flex;
    justify-content: left;
    align-items: center;
}

.box-profile > * {
    margin-right: 12px;
    width: 80%; 
    height: auto;
}

.comment {
    width: calc(100% - 15px);
    border: 1px solid rgb(150,135,129);
    border-radius: 6px;
    padding: 6px;
    background: rgba(229,224,217,255);
}

* {
    padding: 0;
    margin: 0;
  }

  .counter {
      width: 100px;
      margin: auto;
      display: flex;
      align-items: center;
      margin-top: 10px;
  }
  .counter input {
      width: 50px;
      border: 0;
      border-radius: 10px;
      line-height: 30px;
      font-size: 15px;
      text-align: center;
      background: #594036;
      color: #fff;
      appearance: none;
      outline: 0;
  }
  .counter span {
      display: block;
      font-size: 25px;
      padding: 0 10px;
      cursor: pointer;
      color: #594036;
      user-select: none;
  }

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #594036;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: mainFont;
    font-size: large;
    letter-spacing: 3px;
  }
  
  .tab button:hover {
    background-color: #594036;
  }
  
  .tab button.active {
    background-color: #594036;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 0px;
    border-top: none;
  }

  .box-products-margin{
    margin: 10px;
  }