body {
    background-image: url(/img/ventanaPerfil.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position:bottom;
    background-attachment: fixed !important;
}

@media only screen and (min-width: 960px) {
    body {
        background-image: url(/img/artesanofondo2.png) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position:bottom;
        background-position-y: -100px, top;
        background-attachment: fixed !important;
    }
}

.box-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-profile > * {
    margin-right: 6px;
}

.box-profile .img-profile {
    width: 30%;
    height: auto;
}

@media only screen and (min-width: 960px) {
    .box-profile .img-profile {
        width: 15%;
        height: auto;
    }
}


.profile-title {
    margin: 10px;
    color: #f7f5ed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-title-desc {
    margin: 10px;
    color: #f7f5ed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-button {
    text-align: center;
}

.text-description-profile{
    color: #f7f5ed;
    justify-content: center;
    align-items: center;
}
