body {
    background-image: url(/img/coverRegistro.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position-y: -150px !important;
    background-position-x: -300px !important;
    background-attachment: fixed !important;
}

.logoInd {
    text-align: center;
    margin-top: 20px;
}

::placeholder { 
    color: #594036;
    opacity: 0.5;
    border: #594036;
}

.box-record {
    margin-top: 100px;
}

.cond-size{
    width:20px;
    height: 20px;;
    font-size: 15px;
    justify-items: center;
    align-items: center;
}

.button-margin{
    margin: 10px;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (min-width: 481px) {
    .cond-size{
        width:30px;
        height: 30px;;
        font-size: 25px;
        justify-items: center;
        align-items: center;
    }
}
