@font-face {
    font-family: mainFont;
    src: url(../fonts/LeagueSpartan-VariableFont_wght.ttf);
}

h1 {
    letter-spacing: 3px;
    font-size: 22px;
    font-weight: bold;
}

@media only screen and (min-width: 481px) {
    h1 {
        letter-spacing: 3px;
        font-size: 30px;
        font-weight: bold;
    }
}

@media only screen and (min-width: 960px) {
    h1 {
        letter-spacing: 3px;
        font-size: 60px;
        font-weight: bold;
    }
}

h2 {
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: normal;
}

@media only screen and (min-width: 481px) {
    h2 {
        letter-spacing: 2px;
        font-size: 25px;
        font-weight: normal;
    }
}

@media only screen and (min-width: 960px) {
    h2 {
        letter-spacing: 2px;
        font-size: 50px;
        font-weight: normal;
    }
}

h3 {
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: lighter;
}

@media only screen and (min-width: 481px) {
    h3 {
        letter-spacing: 2px;
        font-size: 20px;
        font-weight: lighter;
    }
}

@media only screen and (min-width: 960px) {
    h3 {
        letter-spacing: 2px;
        font-size: 40px;
        font-weight: lighter;
    }
}    

body {
    font-family: mainFont;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background-color: #f7f5ed;
    background-image: url(/img/cover5.png), url(/img/fondo5.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-attachment: fixed, fixed;
    background-position: right top, right top;
}

.page {
    padding: 12px;
    margin: 12px;
    color: #594036;
}

@media only screen and (min-width: 960px) {
    .page {
        padding: 30px;
        margin: 30px;
        color: #594036;
    }
}

.nav-bar {
    width: 100%;
    height: 50px;
    /*
    background-image: url(/img/cover5.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    */
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 960px) {
    .nav-bar {
        width: 100%;
        height: 100px;
        /*
        background-image: url(/img/cover5.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        */
        padding-top: 6px;
        padding-bottom: 6px;
        display: flex;
        justify-content: space-between;
    }
    
}

#nav-bar-background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 62px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    visibility: hidden;
}

#nav-bar-menu {
    width: calc(100% - 24px);
    padding: 12px;
    position: absolute;
    top: 62px;
    left: 0;
    background-color: #e5e0d9;
    height: auto;
    padding-top: 12px;
    border-bottom: 1px solid #434343;
    visibility: hidden;
    z-index: 11;
}

@media only screen and (min-width: 481px) {
    #nav-bar-menu {
        width: calc(100% - 24px);
        padding: 12px;
        position: absolute;
        top: 62px;
        left: 0;
        background-color: #e5e0d9;
        height: auto;
        padding-top: 12px;
        border-bottom: 1px solid #434343;
        visibility: hidden;
        z-index: 11;
        font-size: 25px;
    }
}

@media only screen and (min-width: 960px) {
    #nav-bar-menu {
        width: calc(100% - 24px);
        padding: 12px;
        position: absolute;
        top: 62px;
        left: 0;
        background-color: #e5e0d9;
        height: auto;
        padding-top: 12px;
        border-bottom: 1px solid #434343;
        visibility: hidden;
        z-index: 11;
        font-size: 40px;
    }
}

#nav-bar-menu > div {
    border-bottom: 1px solid #434343;
    width: calc(100% - 24px);
    padding-top: 6px;
    padding-bottom: 6px;
}

#nav-bar-menu > div > a {
    text-decoration: none;
}

#nav-bar-menu > div:last-child {
    border: none;
}

#nav-bar-login {
    width: 100%;
    position: absolute;
    top: 62px;
    left: 0;
    height: 150px;
    text-align: center;
    padding-top: 12px;
    background-color: #e5e0d9;
    border-bottom: 1px solid #434343;
    visibility: hidden;
    z-index: 11;
}

@media only screen and (min-width: 481px) {
    #nav-bar-login {
        width: 100%;
        position: absolute;
        top: 62px;
        left: 0;
        height: 200px;
        text-align: center;
        padding-top: 12px;
        background-color: #e5e0d9;
        border-bottom: 1px solid #434343;
        visibility: hidden;
        z-index: 11;
    }
}

@media only screen and (min-width: 960px) {
    #nav-bar-login {
        width: 100%;
        position: absolute;
        top: 62px;
        left: 0;
        height: 400px;
        text-align: center;
        padding-top: 12px;
        background-color: #e5e0d9;
        border-bottom: 1px solid #434343;
        visibility: hidden;
        z-index: 11;
    }
}


#nav-bar-login .logo {
    max-width:100%; 
    height:auto;
    padding-top: 12px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 481px) {
    #nav-bar-login .logo {
        max-width:100%; 
        height:auto;
        padding-top: 12px;
        margin: 25px;
        align-items: center;
        justify-content: center;
    }
}

#nav-bar-login .buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar .container-a {
    display: flex;
    align-items: left;
    justify-content: left;
}

.nav-bar .container-b {
    justify-content: right;
    display: flex;
    align-items: right;
}


.nav-bar .logo-button {
    padding: 0;
}

.nav-bar .img-logo {
    max-width: 40px; 
    height:auto;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 481px) {
    .nav-bar .img-logo {
        max-width: 50px; 
        height:auto;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 960px) {
    .nav-bar .img-logo {
        max-width: 80px; 
        height:auto;
        align-items: center;
        justify-content: center;
    }
}


.nav-bar .menu-button {
    width: 50px;
    height: 50px;
}

.nav-bar div {
    margin-left: 6px;
    margin-right: 6px;
}

.box-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

}

.input {
    font-size: 12px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #e5e0d9;
}

.input-search {
    width: 200px;
    height: 45px;
    border-radius: 10px;
}

@media only screen and (min-width: 481px) {
    .input-search {
        width: 500px;
        height: 55px;
    }
}

@media only screen and (min-width: 960px) {
    .input-search {
        width: 800px;
        height: 80px;
        font-size: 30px;
    }
}

.img-preview-all {
    width: 155px;
    margin: 0;
    border: 2px solid white;
    border-radius: 30px;
    background: rgba(229,224,217,255);
    padding: 5px;
    color: #594036;
}

@media only screen and (min-width: 481px) {
    .img-preview-all {
        width: 320px;
        margin: 0;
        border: 2px solid white;
        border-radius: 50px;
        background: rgba(229,224,217,255);
        padding: 5px;
    }
}

@media only screen and (min-width: 960px) {
    .img-preview-all {
        width: 400px;
        margin: 0;
        border: 2px solid white;
        border-radius: 50px;
        background: rgba(229,224,217,255);
        padding: 5px;
    }
}


.img-preview {
    width: 100%;
    border-radius: 25px;
}

@media only screen and (min-width: 481px) {
    .img-preview {
        width: 100%;
        border-radius: 50px;
    }
}

@media only screen and (min-width: 960px) {
    .img-preview {
        width: 100%;
        border-radius: 50px;
    }
}

@media only screen and (min-width: 960px) {
    .product-pc{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 12px;
    }
}

.m-b-md {
    margin-bottom: 6px;
    font-family: mainFont;
    letter-spacing: 3px;
    font-weight: lighter;
}

@media only screen and (min-width: 481px) {
    .m-b-md {
        margin-bottom: 6px;
        width:200px;
        height: 50px;
        font-size: 20px;
    }
}

.m-b-xl {
    margin-bottom: 12px;
}

@media only screen and (min-width: 960px) {
    .m-b-xl {
        margin-bottom: 40px;
    }
}

.button-size{
    width:100px;
    height:auto;
    font-family: mainFont;
    letter-spacing: 3px;
    font-weight: lighter;
}

@media only screen and (min-width: 481px) {
    .button-size{
        width:150px;
        height: 50px;;
        font-size: 20px;
    }
}

@media only screen and (min-width: 960px) {
    .button-size{
        width:300px;
        height: 100px;;
        font-size: 50px;
    }
}

.box-products {
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
}

@media only screen and (min-width: 960px) {
    .box-products {
        display: flex;
        justify-content: space-around;
        margin-bottom: 12px;
    }
}

.box-products > div {
    text-align: center;
    border-radius: 6px;
    height: 100px;
    height: auto;
    min-height: 140px;
}

.box-login-container {
    width: 55%;
}

.input-login {
    width: 100%;
}

button {
    border: 1px solid #594036;
    border-radius: 6px;
    min-height: 30px;
    background-color: #594036;
    color: aliceblue;
}

.img-menu{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

}

@media only screen and (min-width: 481px) {
    .img-menu{
        width: 60px;
        height: 60px;
    }
}

@media only screen and (min-width: 960px) {
    .img-menu{
        width: 80px;
        height: 80px;
    }
}   

.img-promo{
    width: 100%;
    height: auto;
}

.buscador{
    display: flex;
    justify-content: space-between;
}

.placeholder-size{
    font-size: 13px;
}

@media only screen and (min-width: 481px) {
    .placeholder-size{
        font-size: 20px;
    }
}

@media only screen and (min-width: 960px) {
    .placeholder-size{
        font-size: 35px;
    }
}

.margin-img{
    width: 135px;
    margin: 0;
    border: 2px solid white;
    border-radius: 30px;
    background: rgba(229,224,217,255);
    padding: 5px;
}

@media only screen and (min-width: 481px) {
    .margin-img{
        width: 320px;
        margin: 0;
        border: 2px solid white;
        border-radius: 30px;
        background: rgba(229,224,217,255);
        padding: 5px;
    }
}

@media only screen and (min-width: 960px) {
    .margin-img{
        width: 550px;
        margin: 0;
        border: 2px solid white;
        border-radius: 30px;
        background: rgba(229,224,217,255);
        padding: 5px;
    }
}

* {
    padding: 0;
    margin: 0;
  }

  .counter {
      width: 100px;
      margin: auto;
      display: flex;
      align-items: center;
      margin-top: 10px;
  }
  .counter input {
      width: 50px;
      border: 0;
      border-radius: 10px;
      line-height: 30px;
      font-size: 15px;
      text-align: center;
      background: #594036;
      color: #fff;
      appearance: none;
      outline: 0;
  }

  @media only screen and (min-width: 481px) {
    .counter input {
        width: 80px;
        border: 0;
        border-radius: 10px;
        line-height: 45px;
        font-size: 25px;
        text-align: center;
        background: #594036;
        color: #fff;
        appearance: none;
        outline: 0;
    }
}

@media only screen and (min-width: 960px) {
    .counter input {
        width: 150px;
        border: 0;
        border-radius: 10px;
        line-height: 70px;
        font-size: 40px;
        text-align: center;
        background: #594036;
        color: #fff;
        appearance: none;
        outline: 0;
    }
}

  .counter span {
      display: block;
      font-size: 25px;
      padding: 0 10px;
      cursor: pointer;
      color: #594036;
      user-select: none;
  }

  @media only screen and (min-width: 481px) {
    .counter span {
        display: block;
        font-size: 35px;
        padding: 0 10px;
        cursor: pointer;
        color: #594036;
        user-select: none;
    }
}

@media only screen and (min-width: 960px) {
    .counter span {
        display: block;
        font-size: 50px;
        padding: 0 10px;
        cursor: pointer;
        color: #594036;
        user-select: none;
    }
}